div{
    background:rgba(52, 52, 48, 0.5);
    padding:30px;
    margin: 80px;
    box-shadow:0 15px 35px rgb(218, 217, 207);
    border-radius: 10px;
}
body{
    background-image:url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    Font-family:Times,serif;
    Line-height: 1.8;
    font-size: 20px;
    color:white;
    font-weight:lighter;
    text-align: center;
}
img{
    width: 350px;
}



h1{color:white;
    font-family: times serif;
    font-weight:100;
}
a{
    color: gold;
    text-decoration: none;
}
a:hover{color:skyblue}


#logo{width:40px;}

.button{
    background-color:darkgrey;
    color:black;
    padding:15px 20px;
    border-radius:10px;}



@media(max-width:500px) {
    img {
        width: 150px;
    }

}

@media(max-width:500px){
    iframe{
        width 200px;
    }
}
    
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.linkedin{
    filter: drop-shadow(16px 16px 20px rgb(8, 0, 255)) invert(85%);
}

.ig{
    filter: drop-shadow(16px 16px 20px rgb(8, 0, 255)) invert(85%);
}

